# Problem Definition
#### This project aims to predict the prices of houses in Nigeria using machine learning on features like title, town, state and packing space

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("nigeria_houses_data.csv")
data

,bedrooms,bathrooms,toilets,parking_space,title,town,state,price
0,6,5,5,4,Detached Duplex,Mabushi,Abuja,450000000.0
1,4,5,5,4,Terraced Duplexes,Katampe,Abuja,800000000.0
2,4,5,5,4,Detached Duplex,Lekki,Lagos,120000000.0
3,4,4,5,6,Detached Duplex,Ajah,Lagos,40000000.0
4,4,4,5,2,Semi Detached Duplex,Lekki,Lagos,75000000.0
...,...,...,...,...,...,...,...,...
24321,2,2,2,4,Block of Flats,Kabusa,Abuja,15000000.0
24322,4,5,5,4,Block of Flats,Ado-Odo/Ota,Ogun,25000000.0
24323,4,5,5,4,Detached Duplex,Lekki,Lagos,68000000.0
24324,3,4,4,3,Block of Flats,Victoria Island (VI),Lagos,78000000.0
24325,4,5,5,4,Detached Duplex,Lekki,Lagos,65000000.0

In [4]:
data.isna().sum()

bedrooms         0
bathrooms        0
toilets          0
parking_space    0
title            1
town             1
state            1
price            8
dtype: int64